
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background: white;
  padding: 1rem;
}

header {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
}

header a {
  text-decoration: none;
  color: black;
}

.siteName a {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

header > div {
  display: grid;
  font-size: 1.2rem;
  width: 100%;
  justify-content: right;
}

#tools {
  font-size: 0.8rem;
  text-transform: uppercase;
  align-self: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  background: rgb(13, 13, 13);
  border-radius: 5px;
}

nav li {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

body h1 {
  margin-top: 20px;
  text-align: center;
}


.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(/images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 250px;
}

.delorean-info {
  max-width: 200px;
  margin-bottom: 15px;
  color: rgb(0, 123, 203);
  background-color: rgba(255, 255, 255, 0.85);
}

.delorean-info h2 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.delorean-info ul {
  list-style: none;
  padding: 0;
}

.delorean-info > img {
  border-radius: 5px;
  width: 60%;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-top: 30px;
}

.D-reviews,
.upgrades {
  width: 100%;
}

.D-reviews ul {
  padding: 0 1.5rem;
}

.D-reviews li {
  margin: 1rem 0;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade-grid .item {
  text-align: center;
  background: rgba(0, 153, 255, 0.529);
  border-radius: 5px;
}

.upgrade-grid img {
  height: 60px;
  margin: 0.5rem 0;
}

.upgrade-grid a {
  display: block;
  margin-top: 5px;
  color: rgb(4, 98, 161);
  background-color: white;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: black;
}

/* Bigger Screen 600px */

@media (min-width: 600px) {

  body {
    padding: 20px;
    background: url(/images/site/small_check.jpg);
  }

  #wrapper {
    padding: 20px;
    border: 3px solid #00a0e3;
    border-radius: 10px;
    padding: 15px;
    width: 95%;
    max-width: 700px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Hero */

  h2 {
    font-size: 1.8rem;
  }

  .hero {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }

  .delorean-info > img {
    margin-bottom: 1rem;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .D-reviews,
  .upgrades {
    width: 50%;
  }

  .upgrade-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}