
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background: white;
  padding: 1rem;
}

header {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
}

header a {
  text-decoration: none;
  color: black;
}

.siteName a {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

header > div {
  display: grid;
  font-size: 1.2rem;
  width: 100%;
  justify-content: right;
}

#tools {
  font-size: 0.8rem;
  text-transform: uppercase;
  align-self: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  background: rgb(13, 13, 13);
  border-radius: 5px;
}

nav li {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

body h1 {
  margin-top: 20px;
  text-align: center;
}


.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(/images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 250px;
}

.delorean-info {
  max-width: 200px;
  margin-bottom: 15px;
  color: rgb(0, 123, 203);
  background-color: rgba(255, 255, 255, 0.85);
}

.delorean-info h2 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.delorean-info ul {
  list-style: none;
  padding: 0;
}

.delorean-info > img {
  border-radius: 5px;
  width: 60%;
}

/* Content Sections */

.content {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-top: 30px;
}

.D-reviews,
.upgrades {
  width: 100%;
}

.D-reviews ul {
  padding: 0 1.5rem;
}

.D-reviews li {
  margin: 1rem 0;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade-grid .item {
  text-align: center;
  background: rgba(0, 153, 255, 0.529);
  border-radius: 5px;
}

.upgrade-grid img {
  height: 60px;
  margin: 0.5rem 0;
}

.upgrade-grid a {
  display: block;
  margin-top: 5px;
  color: rgb(4, 98, 161);
  background-color: white;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: black;
}

/* Inventory Cards Details */

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  text-align: center;
  row-gap: 1.5rem;
  column-gap: 2rem;
  list-style-type: none;
  padding: 0;
}

#inv-display h2 {
  /* padding: 0.8rem; */
  font-size: 1.5rem;
}

#inv-display li {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  justify-items: center;
  /* border: 2px solid gray; */
  border-radius: 2rem;
  box-shadow: 1px 1px 5px #888888;
}

#inv-display img,
#car-image img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  /* margin: 1.5rem 0; */
}

#inv-display img {
  height: 11rem;
}

#inv-display div {
  padding: 1rem 0;
  width: 100%;
}

#inv-display hr {
  height: 2px;
  background-color: #00a0e3;
}

#inv-display span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Details page */

#details-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

#car-details > :nth-child(odd):not(h2) {
  padding: 0 0.5rem;
}

#car-details > :nth-child(even) {
  background-color: #cce9f6;
  padding: 1rem 0.5rem;
}

#car-details .price {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Login Design */

.account-container {
  max-width: 420px;
  margin: 3rem auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px #0077cc;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account-form label {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.account-form input {
  padding: .7rem;
  border-radius: 5px;
  border: 1px solid #0077cc;
}

.account-container button,
.management-link,
.cancel-button,
#classificationList {
  padding: .8rem;
  border: none;
  background: #0077cc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

.account-container button:hover,
.management-link:hover {
  background: #005fa3;
}

.account-container .cancel-button:hover {
  background: #a30000;
}

button.cancel-button:hover {
  background: #a30000;
}

.management-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.register-link,
.management-link:nth-child(2) {
  margin-top: 1rem;
  text-align: center;
}

input:required:invalid,
input:focus:invalid {
  border: 2px solid red;
}

input:required:valid {
  border: 2px solid green;
}

/* Inventory Table */

#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

#inventoryDisplay th,
#inventoryDisplay td{
  padding: 0.5rem;
  border-bottom: 1px solid #070303;
}

#inventoryDisplay a {
  padding: 8px;
}

#favorites-table {
  width: 100%;
  text-align: center;
font-size: 1.2rem;
color: black;
border: 1px solid black;
}

#favorites-table td {
  padding: 5px;
color: black;
}

#favorites-table a {
  text-decoration: none;
color: black;
}

#favorites-table thead {
  background-color: #c5d9e2;
}


/* Bigger Screen 600px */

@media (min-width: 600px) {

  body {
    padding: 20px;
    background: url(/images/site/small_check.jpg);
  }

  #wrapper {
    padding: 20px;
    border: 3px solid #00a0e3;
    border-radius: 10px;
    padding: 15px;
    width: 95%;
    max-width: 700px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Hero */

  h2 {
    font-size: 1.8rem;
  }

  .hero {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }

  .delorean-info > img {
    margin-bottom: 1rem;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .D-reviews,
  .upgrades {
    width: 50%;
  }

  .upgrade-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}