<!-- Content Heading -->

<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!-- Flash Message Section -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
<% } %>

<!-- Content -->
<div class="account-container">
    <form class="account-form" action="/inv/add-classification" method="post" novalidate>

        <label for="classificationName">Classification name: </label>
        <span>The classification name must contain only letters and numbers, with no spaces or special characters.</span>
        <input type="text" name="classification_name" id="classificationName" required pattern="^[A-Za-z0-9]+$" value="<%= locals.classification_name %>"/>
                
        <button type="submit">Add Classification</button>
        <a class="cancel-button" href="/inv/">Cancel</a>
    </form>
</div>